################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/sfml_test/.vs/sfml_test/v15
/sfml_test/DTMF.o
/sfml_test/test.o
/sfml_test/RLRecorder.o
/sfml_test/rc_fft.o
/sfml_test/bin
/projekt_chat/bin
/projekt_chat/DLL.o
/projekt_chat/DTMF.o
/projekt_chat/DTMF_type.o
/projekt_chat/RLRecorder.o
/projekt_chat/rc_fft.o
/projekt_chat/Source.o
